# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/

# Build artifacts
dist/
build/
.next/ # For Next.js projects
out/ # For static site generation

# Environment variables
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/
!.vscode/extensions.json # Keep extensions.json for team consistency
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Test results
coverage/
.nyc_output/

# Other
tmp/